  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-1 mb-5 mt-5">
        <h3><span style="background-color:#dcdcdc">商品詳細</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="image">
          <%= image_tag @item.item_image, :size => '300x300' %>
        </div>
      </div>

      <div class="col-md-4">
        <table class="table table-borderless">
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.explanation %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格（税抜価格）</td>
            <td><%= @item.add_tax_price.to_s(:dalimited) %>(<%= @item.price_without_tax %>)円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @item.is_sale == true %>
                <h5 class="text-success font-weight-bold">販売中</h5>
              <% else %>
                <h5 class="text-muted font-weight-bold">販売停止</h5>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
