<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="top-image col-12">
        	  	<p class="pl-3 py-5" style="font-size: 22px">
        	  	  ようこそNaganoCakeへ！<br>
        	  	  このサイトは、ケーキ販売のECサイトになります。<br>
        	  	  会員でない方も商品の閲覧はできますが、<br>
        	  	  購入には会員登録が必要になります。<br>
        	    </p>
            </div>



            <h3><strong>新着商品</strong></h3>

            <table>

                <tbody>
                    <% @items.each do |item|%>
                        <td>
                            <div class="topbox">
                                <%= link_to item_path(item) do %>
                                    <%= image_tag item.item_image, :size => '200x150' %>
                                <% end %>
                            </div><br>
                            <div class="name">
                                <%= link_to item_path(item) do %>
                                    <%= item.name %>
                                    ¥ <%= item.price_without_tax.to_s(:delimited) %>
                                <% end %>
                            </div>
                        </td>
                    <% end %>
                </tbody>
            </table>
            <p align="right"><%= link_to "全ての商品を見る", items_path %></p>


        </div>
    </div>
</div>