<div class="container">
  <div class="row">
    <div class="col3-md offset-1 mt-5">
      <h3 class="p-2" style="background-color:#dcdcdc">新規会員登録</h3>
    </div>
  </div>

    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <table class="table　table-borderless table-sm mt-5 mb-5">
        <div class="field">
        <tr>
          <th><%= f.label :"名前" %></th>
          <td><%= f.label :"(姓)" %></td>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.label :"(名)" %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :"フリガナ" %></th>
            <td><%= f.label :"(セイ)" %></td>
            <td><%= f.text_field :kana_last_name %></td>
            <td><%= f.label :"(メイ)" %></td>
            <td><%= f.text_field :kana_first_name %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td></td>
            <td><%= f.text_field :email %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :郵便番号 %></th>
            <td></td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :"住所" %></th>
            <td></td>
            <td><%= f.text_field :address %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :"電話番号" %></th>
            <td></td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :"パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %></th>
            <td></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :"パスワード(確認用)" %></th>
            <td></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </tr>
        </div>

        <div class="actions">
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class: "btn btn-success pl-5 pr-5 mt-3" %></td>
        </div>

      </table>
    <% end %>

    <div class="row">
      <div class="col-3-md offset-1 mt-5">
        <h4 class="p-2" style="background-color:#dcdcdc">既に登録済みの方</h4>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-3-md offset-2">
        <p class="ml-3"><%= link_to "こちら", customer_session_path %>からログインしてください。</p>
      </div>
    </div>


</div>
