<div class="container">
    <div class="row">
      <div class="col-xs-3">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="active text-center"><h5 class="genre_said">ジャンル検索</h5></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td>
                  <%= genre.name %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="col-ml-5">
          <%= image_tag @item.item_image, :size => '100x100' %>
      </div>

      <div class="col-xs-5">
        <div class="detail">
        <h2<%= @item.name %></strong></h2>
        <p><%= @item.explanation %></p>
        <h5><strong>￥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)</strong></h5>
        <% if @item.is_sale == true %>
          <%= form_with model: @cart_item,url: cart_items_path, local: true do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :quantity, *[1..10], {include_blank: '個数選択'}, class: "mx-5 my-4" %>

            <%= f.submit "カートに入れる", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>