  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="border border-dark">
          <p class="text-center">ジャンル検索</p>
        </div>
        <div class="border border-dark">
          <% @genres.each do |genre| %>
            <%= genre.name %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="image">
          <%= image_tag @item.item_image, :size => '200x200' %>
        </div>
      </div>

      <div class="col-md-4 offset-1">
        <h5><strong><%= @item.name %></strong></h5>
        <p><%= @item.explanation %></p>
        <h5><strong>￥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)</strong></h5>
        <% if @item.is_sale == true %>
          <%= form_with model: @cart_item,url: cart_items_path, local: true do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :quantity, *[1..10], {include_blank: '個数選択'}, class: "mx-5 my-4" %>
            <%= f.submit "カートに入れる", class: "btn btn-success"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>